/* $text: #333333;
$red: #d32f2f;
$white: #ffffff;
$black: #000000;
$footer_bg: #222222;
$dark_green: #00932A;
$light_gray: #dfded0;
$vk_bg: rgba(72, 114, 163, 1);
$twitter_bg: rgba(29, 161, 242, 1);
$shadow: rgba(0, 0, 0, 0.3); */

/* new scheme */
$text: #333333;
$red: #d32f2f;
$white: #ffffff;
$black: #000000;
$footer_bg: #2f627a;
$dark_green: #9acbaf;
$light_gray: #dfded0;
$vk_bg: rgba(72, 114, 163, 1);
$twitter_bg: rgba(29, 161, 242, 1);
$shadow: rgba(#c2d5de, 0.5);