$text: #333333;
$icon: #1f8757;
$white: #ffffff;
$black: #000000;
$light_green: #00b246;
$dark_green: #00932A;
$light_dark_white: #f6f6f6;
$light_gray: #dfded0;
$vk_bg: rgba(72, 114, 163, 1);
$twitter_bg: rgba(29, 161, 242, 1);