.Text {
  &_Right {
    text-align: right;
  }

  &_Center {
    text-align: center;
  }

  &_Left {
    text-align-last: left;
  }
}

.Container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}