.Flexy {
  display: flex;
  flex-flow: row wrap;

  &--justify {
    &-center {
      justify-content: center;
    }
    &-sb {
      justify-content: space-between;
    }
  }

  &--align {
    &-center {
      align-items: center;
    }
    &-top {
      align-items: flex-start;
    }
  }

  &__col1,
  &__col2,
  &__col3,
  &__col4 {
    margin: 0 15px;
  }

  &__col1 {
    @include column(1);
  }
  &__col2 {
    @include column(2);
  }
  &__col3 {
    @include column(3);
  }
  &__col4 {
    @include column(4);
  }
  &__col5 {
    @include column(5);
  }
  &__col6 {
    @include column(6);
  }
  &__col7 {
    @include column(7);
  }
  &__col8 {
    @include column(8);
  }
  &__col9 {
    @include column(9);
  }
  &__col10 {
    @include column(10);
  }
  &__col11 {
    @include column(11);
  }
  &__col12 {
    @include column(12);
  }
  &__col13 {
    @include column(13);
  }
  &__col14 {
    @include column(14);
  }
  &__col15 {
    @include column(15);
  }

  &__col--margin-lg {
    margin: 0 30px;
    @include column(3, "30px");
  }

  &--order-first {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  &--order-last {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}

/*
.no-gutters > [class*="flex-block__col"] {
  margin: 0 0;
}*/

@include mq-max(991px) {
  .flex-block__col {
    @include column(5);
  }
}

@include mq-max(767px) {
  .flex-block__col {
    @include column(12);
  }
}

/* new grid system */
.Col1 {
  @include column(1);
}
.Col2 {
  @include column(2);
}
.Col3 {
  @include column(3);
}
.Col4 {
  @include column(4);
}
.Col5 {
  @include column(5);
}
.Col6 {
  @include column(6);
}
.Col7 {
  @include column(7);
}
.Col8 {
  @include column(8);
}
.Col9 {
  @include column(9);
}
.Col10 {
  @include column(10);
}
.Col11 {
  @include column(11);
}
.Col12 {
  @include column(12);
}

@include mq-min(576px) {
  .ColSm1 {
    @include column(1);
  }
  .ColSm2 {
    @include column(2);
  }
  .ColSm3 {
    @include column(3);
  }
  .ColSm4 {
    @include column(4);
  }
  .ColSm5 {
    @include column(5);
  }
  .ColSm6 {
    @include column(6);
  }
  .ColSm7 {
    @include column(7);
  }
  .ColSm8 {
    @include column(8);
  }
  .ColSm9 {
    @include column(9);
  }
  .ColSm10 {
    @include column(10);
  }
  .ColSm11 {
    @include column(11);
  }
  .ColSm12 {
    @include column(12);
  }
}

@include mq-min(768px) {
  .ColMd1 {
    @include column(1);
  }
  .ColMd2 {
    @include column(2);
  }
  .ColMd3 {
    @include column(3);
  }
  .ColMd4 {
    @include column(4);
  }
  .ColMd5 {
    @include column(5);
  }
  .ColMd6 {
    @include column(6);
  }
  .ColMd7 {
    @include column(7);
  }
  .ColMd8 {
    @include column(8);
  }
  .ColMd9 {
    @include column(9);
  }
  .ColMd10 {
    @include column(10);
  }
  .ColMd11 {
    @include column(11);
  }
  .ColMd12 {
    @include column(12);
  }
}

@include mq-min(992px) {
  .ColLg1 {
    @include column(1);
  }
  .ColLg2 {
    @include column(2);
  }
  .ColLg3 {
    @include column(3);
  }
  .ColLg4 {
    @include column(4);
  }
  .ColLg5 {
    @include column(5);
  }
  .ColLg6 {
    @include column(6);
  }
  .ColLg7 {
    @include column(7);
  }
  .ColLg8 {
    @include column(8);
  }
  .ColLg9 {
    @include column(9);
  }
  .ColLg10 {
    @include column(10);
  }
  .ColLg11 {
    @include column(11);
  }
  .ColLg12 {
    @include column(12);
  }
}

@include mq-min(992px) {
  .ColXl1 {
    @include column(1);
  }
  .ColXl2 {
    @include column(2);
  }
  .ColXl3 {
    @include column(3);
  }
  .ColXl4 {
    @include column(4);
  }
  .ColXl5 {
    @include column(5);
  }
  .ColXl6 {
    @include column(6);
  }
  .ColXl7 {
    @include column(7);
  }
  .ColXl8 {
    @include column(8);
  }
  .ColXl9 {
    @include column(9);
  }
  .ColXl10 {
    @include column(10);
  }
  .ColXl11 {
    @include column(11);
  }
  .ColXl12 {
    @include column(12);
  }
}
