@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,700");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Fira Sans Condensed", sans-serif;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
