.side-news__title {
  position: absolute;
  width: 90%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 3px;
  background-color: rgba($black, .7);
  color: $white;
}