.Contacts {
  padding-top: 10px;
  padding-bottom: 10px;


  &-Icon {
    margin-right: 5px;
  }

  &-Social {
    margin: 3px 0;
    position: relative;
  }

  &-Line {
    font-size: 1.1rem;
    position: relative;
    text-align: right;
  }
}

@include mq-max(767px) {
  .Contacts {
    &-Line {
      text-align: center;
    }
  }
}