.Copyright {
  margin-top: 20px;

  &-Text {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  &-Age {
    border: 1px solid $base-color-on-dark;
    border-radius: 50%;
    padding: 2px;
    margin-left: 20px;
  }
}
