.FooterMenu {
  &-Item {
    margin-top: 4px;
    margin-bottom: 4px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-Link {
    color: $base-color-on-dark;
    transition: color 0.2s ease;

    &:hover {
      color: $accent-color-4;
    }
  }
}
