.FooterSection {
  margin-bottom: 15px;

  &-Title {
    /* color: #fff; */
    margin-bottom: 5px;
  }

  &-Line {
    margin-top: 4px;
    margin-bottom: 4px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include mq-max(992px) {
  .FooterSection {
    &-MenuZhurnal {
      order: 0;
    }

    &-MenuAuthors {
      order: 2;
    }

    &-Contacts {
      order: 1;
    }

    &-Social {
      order: 3;
    }
  }
}