.Logo {
  display: flex;
  align-items: center;
  width: 70%;

  &-Text {
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 20px;
    color: $white;
  }

  &-Img {
    width: 140px;
    min-width: 60px;
  }
}

@include mq-max(1318px) {
  .Logo {
    width: 75%;
  }
}

@include mq-max(1241px) {
  .Logo {
    width: 80%;
  }
}

@include mq-max(1124px) {
  .Logo {
    width: 85%;
  }
}

@include mq-max(1065px) {
  .Logo {
    width: 90%;
  }
}

@include mq-max(1014px) {
  .Logo {
    width: 95%;
  }
}


@include mq-max(991px) {
  .Logo {
    width: 100%;
  }
}

@include mq-max(992px) {
  .Logo {
    &-Text {
      font-size: 2.3rem;
    }

    &-Img {
      width: 110px;
    }
  }
}

@include mq-max(767px) {
  .Logo {
    justify-content: center;
  }
}

@include mq-max(521px) {
  .Logo {
    &-Text {
      font-size: 2.1rem;
      margin-left: 10px;
    }

    &-Img {
      width: 90px;
    }
  }
}

@include mq-max(461px) {
  .Logo {
    &-Text {
      font-size: 2rem;
    }
  }
}

@include mq-max(446px) {
  .Logo {
    &-Text {
      font-size: 1.8rem;
    }
  }
}

@include mq-max(416px) {
  .Logo {
    &-Img {
      width: 80px;
    }
  }
}

@include mq-max(290px) {
  .Logo {
    &-Text {
      font-size: 1.6rem;
    }
  }
}

@include mq-max(272px) {
  .Logo {
    &-Text {
      font-size: 1.5rem;
    }

    &-Img {
      width: 70px;
    }
  }
}