.Logo {
  display: flex;
  align-items: center;

  &-Text {
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 20px;
  }

  &-Img {
    width: 140px;
  }
}

@include mq-max(360px) {
  .Logo {
    text-align: center;
    font-size: 1.3rem;
  }
}