.SocialIcon {
  cursor: pointer;
  color: $white;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.85;
  }

  &_Header {
    font-size: 1.8rem;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-Vk {
    background-color: $vk_bg;
  }

  &-Twitter {
    background-color: $twitter_bg;
  }
}