mixin article-preview(title, author, date, text)
  article.ArticelPreview.Col12.ColSm12.ColMd12.ColLg12.ColXl12
    h3.ArticelPreview-Title= title
    div.ArticelPreview-Info
      p.ArticelPreview-Author= author
      p.ArticelPreview-Date= date
    p.ArticelPreview-Text= text
    p
      a(href="#").ArticelPreview-Readmore Read more

.Content.Container
  .Block
    +article-preview(
      "Lorem ipsum dolor sit ametg",
      "Petrov AV, Ivanov PI",
      "12.12.3111",
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae vel ut molestias autem commodi. Illum sequi, neque error repellat dolores non quas, explicabo adipisci cum laboriosam doloremque quidem quam hic?"
    )

    +article-preview(
      "Lorem ipsum dolor sit amet",
      "Petrov AV, Ivanov PI",
      "12.12.3111",
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae vel ut molestias autem commodi. Illum sequi, neque error repellat dolores non quas, explicabo adipisci cum laboriosam doloremque quidem quam hic?"
    )