footer.footer.shell
  .footer__wrapper.flex-block.flex-block--justify-sb
    .footer__menu
      p.footer__title Журнал
      ul.footer-menu
        li.footer-menu__item
          a.footer-menu__link(href="#") Контакты
        li.footer-menu__item
          a.footer-menu__link(href="#") Порядок рецензирования статей

    .footer__menu
      p.footer__title Авторам
      ul.footer-menu
        li.footer-menu__item
          a.footer-menu__link(href="#") Правила оформления
        li.footer-menu__item
          a.footer-menu__link(href="#") Правила публикации
        li.footer-menu__item
          a.footer-menu__link(href="#") Подача заявки
        li.footer-menu__item
          a.footer-menu__link(href="#") Рецензирование
        li.footer-menu__item
          a.footer-menu__link(href="#") Этика научных публикаций
    .footer__address.address
      p.footer__title Адрес:
      p.address__street г.Киров,
      p.address__street Октябрьский проспект, 133, каб. 126
      p.address__phone +7 (8332) 77-54-53
      p.address__phone +7 (8332) 42-15-16
    .footer__vk-widget
      p Здесь будет виджет из контакта
      p А еще твиттер
  p Лицензия СМИ
  .copyright.text-center
    p &copy; Вестник Вятской ГСХА 16+