mixin footer-menu-item(text)
  li
    a(href="#")= text


footer.Footer.Container
  .Block
    .FooterSection.Col12
      h4.FooterSection-Title Журнал
      ul
        +footer-menu-item("Контакты")
        +footer-menu-item("Порядок рецензирования статей")

    .FooterSection.Col12
      h4.FooterSection-Title Авторам
      ul
        +footer-menu-item("Правила оформления")
        +footer-menu-item("Правила публикации")
        +footer-menu-item("Подача заявки")
        +footer-menu-item("Рецензирование")
        +footer-menu-item("Этика научных публикаций")

    .FooterSection.Col12
      h4.FooterSection-Title Контакты
      p.FooterSection-Line Адрес: p г.Киров, Октябрьский проспект, 133, каб. 138
      p.FooterSection-Line
        i.fas.fa-phone
        span +7 (8332) 77-54-53
      p.FooterSection-Line
        i.fas.fa-envelope
        span info@v-vgsha.info

    .FooterSection.Col12
      h4.FooterSection-Title Социальные сети
      p.FooterSection-Line
        i.fab.fa-vk
        i.fab.fa-twitter

  .Copyright.Text_Center
    p Свидетельство о регистрации СМИ ЭЛ №ФС77-73936
    p &copy; Вестник Вятской ГСХА 16+