header.Header.Container
  .Block
    .Logo.Col12
      p Вестник Вятской ГСХА

    .Contacts.Col8
      p
        i.fas.fa-phone
        span +7 (8332) 77-54-53
      p
        i.fas.fa-envelope
        span info@v-vgsha.info

      i.fab.fa-vk
      i.fab.fa-twitter
    .Search.Col4
      i.fas.fa-search
      p RU / EN
