header.Header.Container
  .Block
    .Logo.Col12
      p Вестник Вятской ГСХА

    .Contacts.Col8
      p
        i.fas.fa-phone.Contacts-Icon
        span +7 (8332) 77-54-53
      p
        i.fas.fa-envelope.Contacts-Icon
        span info@v-vgsha.info

      .Contacts-Social
        i.fab.fa-vk.SocialIcon.SocialIcon-Vk.SocialIcon_Header
        i.fab.fa-twitter.SocialIcon.SocialIcon-Twitter.SocialIcon_Header
    .Search.Col4
      i.fas.fa-search
      p RU / EN
