header.Header.Container
  .Header-Content
    .Block.Col12
      p.LanguageSwitcher
        a.LanguageSwitcher-Lang.LanguageSwitcher-Lang_Active(href="#") РУ
        span /
        a.LanguageSwitcher-Lang(href="#") EN
    .Block
      .Col12.ColMd7.ColLg8
        a.Logo(href="/")
          .Logo-Img
            img(src="../images/vestnik-logo_white.png")
          p.Logo-Text Вестник Вятской ГСХА

      .Header-Info.Col12.ColMd5.ColLg4
        .Contacts
          p.Contacts-Line
            i.fas.fa-phone.Contacts-Icon
            span +7 (8332) 77-54-53
          p.Contacts-Line
            i.fas.fa-envelope.Contacts-Icon
            span info@v-vgsha.info

          .Contacts-Line.Contacts-Social
            i.fab.fa-vk.SocialIcon.SocialIcon-Vk.SocialIcon_Header
            i.fab.fa-twitter.SocialIcon.SocialIcon-Twitter.SocialIcon_Header
        .Search
            form.Search-Form
              input.Input.Input-Search(type="text" placeholder="Search")
              button.Button.Button-Search
                i.fas.fa-search.Search-Icon