header.Container.Flexy
  .Logo
    p Вестник Вятской ГСХА

  .Contacts
    p CONTACTS
    p
      i.fas.fa-phone
      span +7 (8332) 77-54-53
    p
      i.fas.fa-envelope
      span info@v-vgsha.info

    i.fab.fa-twitter
    i.fab.fa-vk
  .Search
    i.fas.fa-search
    p RU / EN
