header.Container.Flexy
  .Logo.Flexy__col7.ColSm1
    p Вестник Вятской ГСХА

  .Contacts.Flexy__col3
    p CONTACTS
    p
      i.fas.fa-phone
      span +7 (8332) 77-54-53
    p
      i.fas.fa-envelope
      span info@v-vgsha.info

    i.fab.fa-twitter
    i.fab.fa-vk
  .Search.Flexy__col2
    i.fas.fa-search
    p RU / EN
