.button {
  display: block;
  text-align: center;
  background-color: $light_green;
  transition: background-color .2s ease;
  border: none;
  color: $white;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    background-color: $dark_green;
  }

  &--medium {
    padding: 8px 20px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    max-width: 180px;
  }

  &--big {
    padding: 12px 30px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 20px;
    max-width: 220px;
  }
}